body{
  font-family: 'Libre Caslon Text', serif;
  margin: 0;
  padding: 1rem;

}

h1 {
font-family: 'Libre Caslon Text', serif;
display: flex;
justify-content: center;
font-style: bold;
font-size: 25px;
}

h3{
font-family: 'Libre Caslon Text', serif;
display: flex;
justify-content: center;
font-size: 15px;
font-style: light;
}

.home{
  overflow: visible;
}
.header{
  text-align: center;
  font-family: 'Libre Caslon Text', serif;
}


hr{
width: 50%;
display: flex;
justify-content: center;
border: 0.5px solid black;
}

.topnav{

  background-color: white;
  overflow: hidden;
  position: relative;

}

.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.sandwichmenu {
  width: 30px;
  height: 3px; 
  background-color:black;
  margin: 6px 0;
}
.searchBar{
  display:flex;
  justify-content: flex-end;
  align-self: start;
}

.dropbtn {
font-size: 17px; 
  border: none;
  outline: none;
  color:white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: auto;
  cursor: pointer;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;

}

.dropdown-content {
  display: none;
  margin: auto;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
  
.topnav a:hover .dropdown:hover .dropbtn {
  background-color: lightgrey;
}


.dropdown-content a:hover {
  background-color: lightgrey;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
p{
  color:gray;
}

footer {
  font-family: 'Libre Caslon Text', serif;
  padding: 10px;
  display: block;
  align-items: baseline;
  text-align: center;
  color: black;
}